@page "/"
@layout FluidLayout

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="assets/transcom_banner.png" class="d-block w-100" alt="...">

			<div class="container">
				<div class="carousel-caption text-left align-content-center">
					<div class="carousel-floating-text">
						<h1 style="text-shadow: ">Expressing Myself, My Way.</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<h1>Hello, world!</h1>