@page "/"
@layout CoverLayout
@inject IConfiguration Configuration



<div class="text-center">
	<div class="my-5">
		<div class="lead my-3">
			<h1>Le serveur Discord d'entraide et de support</h1>
			<p>Transgenres Community a été créée sur Discord le 12 décembre 2019 puis ouverte le 15 décembre 2019.</p>
			<p>Depuis sa création, elle a pour but d'accueillir, d'aider, s'entraider et de soutenir les personnes trans, non-binaires, gender-fluid et intersexes.</p>
		</div>

		<div class="my-3">
			<p>
				<span class="lead">Découvrez ci-dessous la communauté exclusivement pour les personnes transgenres, Non-Binaires, Intersexes et Genre fluide.</span> <br />
				<small>
					<i>
						<span class="dotted-underline" data-bs-toggle="tooltip" title="Sous réserve d'invitation par un membre existant du serveur">
							Pour les personnes Cisgenres, vous êtes également les bienvenu.e.s *
						</span>
					</i>
				</small>
			</p>
		</div>

		<div class="row justify-content-between m-5">
			<div class="col d-grid gap-2">
				<a class="btn btn-lg btn-block btn-outline-light" href="/lexique">Lexique</a>
			</div>

			<div class="col d-grid gap-2">
				<a class="btn btn-lg btn-block btn-primary" href=@Configuration["ExtLinks:Discord"]>Discord</a>
			</div>

			<div class="col d-grid gap-2">
				<a class="btn btn-lg btn-block btn-outline-secondary" href=@Configuration["ExtLinks:Twitter"]>Twitter</a>
			</div>
		</div>

		<div class="mx-5 mt-5">
			<img class="img-fluid rounded" src="assets/index/body-1.webp" />
		</div>
	</div>

	<div class="my-5">
		<h1>Un serveur protégé et accessible à tou·te·s</h1>
		<p class="lead">Le serveur est protégé par plusieurs systèmes :</p>

		<Accordion Flush Id="server-systems" Class="text-start my-3">
			<AccordionSection Id="socialguard" Name="NSYS SocialGuard" Icon="bi bi-shield-lock-fill">
				<p class="lead">
					SocialGuard est une base de données centralisée suivant le niveau de confiance/méfiance de différents utilisateurs Discord.
					<br />
					<a class="link-secondary" href="https://socialguard.net/" target="_blank">socialguard.net</a>
				</p>

				<p>
					Son but est de prévenir l'intrusion sur le serveur de toute personne potentiellement nocive
					qui aurait déjà tenté de nuire à la communauté LGBT.
				</p>

				<p>
					Dès l'arrivée d'une nouvelle personne sur le serveur, SocialGuard prélève systématiquement son identifiant Discord, 
					et vérifie son niveau de confiance. L'équipe de Modération reçoit le résultat de manière immédiate, 
					ce qui appuie la décision donnée sur une inscription.
				</p>

				<p>
					En cas d'utilisateur classé Dangereux et blacklisté, ce dernier est automatiquement banni du serveur sans préavis, 
					et un rapport est transmis à la Modération détaillant la raison du bannissement.
				</p>

				<p>
					<b>Exemple :</b><br />
					Si un utilisateur rejoint le serveur, et qu'il est déjà classé Dangereux, l'utilisateur sera automatiquement banni du serveur.
				</p>

				<p>
					<b>Autre exemple :</b><br />
					Si l'utilisateur n'est pas dans la liste, et qu'il essaye de détruire la communauté dès son arrivée,
					l'équipe de Modération peut l'entrer dans le système SocialGuard, et ce dernier sera banni du serveur
					ainsi que tous les autres serveurs disposant de SocialGuard.
				</p>
			</AccordionSection>

			<AccordionSection Id="signup-form" Name="Formulaire d'Inscription" Icon="bi bi-file-earmark-text">
				<p class="lead">
					Nous sommes le seul serveur LGBT à avoir un dispositif de Formulaire d'Inscription, intégré à notre site Web.
				</p>

				<p>
					Ce système empêche les Spams, Raids, et autres menaces similaires, 
					établis par des utilisateurs encore inconnus au SocialGuard.
					Il permet également de vérifier plus efficacement les nouveaux membres, en cas d'utilisateur suspect.
				</p>
			</AccordionSection>

			<AccordionSection Id="other" Name="Autres Systèmes" Icon="bi bi-patch-check">
				<p>Le serveur dispose également d'autres systèmes :</p>

				<ul>
					<li>Anti insultes & propos LGBTQIA-phobes</li>
					<li>Anti Spam (mention / MAJ / liens)</li>
					<li>Anti Publicité (liens discord)</li>
					<li>Mode fantôme (bientôt)</li>
				</ul>
			</AccordionSection>

			<AccordionSection Id="accessibility" Name="Accessibilité" Icon="bi bi-plus-square">
				<p>Le serveur étant conçu pour l'accessibilité, il dispose de ces systèmes pour accompagner les utilisateurs :</p>

				<p>
					<ul>
						<li>
							<b><a class="link-secondary" href="https://pluralkit.me/" target="_blank">PluralKit</a></b>, 
							Un bot spécialement conçu pour les membres ayant un Trouble Dissociatif de l'Identité.
						</li>
						<li>Messages TTS (Text To Speech), un système équipé sur tout les serveurs Discord et en MP, qui transforme les messages en écrit en messages vocaux.</li>
					</ul>
				</p>
			</AccordionSection>
		</Accordion>
	</div>

	<div class="my-5">
		<h1>Personnalisez votre profil à l'infini !</h1>

		<p class="lead mb-3">
			Vous avez la possibilité d'ajouter des rôles,
			<span class="dotted-underline" data-bs-toggle="tooltip" title="Sous conditions (voir le règlement du serveur)">changer de pseudo *</span>,
			sélectionner vos notifications, 
			et choisir la couleur de votre pseudo à votre goût.
		</p>

		<div class="mx-5">
			<img class="img-fluid rounded" src="assets/index/body-2.webp" />
		</div>
	</div>
</div>



@code {
	[CascadingParameter] CoverLayout Layout { get; set; }

	protected override void OnParametersSet()
	{
		Layout.SetCover("Transgenres Community", "Expressing Myself, My Way.", true, true, true);
		base.OnParametersSet();
	}
}