@page "/"
@layout FluidLayout

<div class="carousel slide mb-5" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="assets/index/transcom_banner.png" class="d-block w-100" style="min-height:25rem" alt="...">

			<div class="container">
				<div class="carousel-caption text-left align-content-center">
					<div class="carousel-floating-text">
						<h1>Transgenres Community</h1>
						<h2>Expressing Myself, My Way.</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container text-center">
	<div class="my-5">
		<div class="lead my-3">
			<h1>Le serveur Discord d'entraide et de support</h1>
			<p>Transgenres Community a été créée sur Discord le 12 décembre 2019 puis ouverte le 15 décembre 2019.</p>
			<p>Depuis sa création, elle a pour but d'accueillir, d'aider, s'entraider et de soutenir les personnes trans, non-binaires, gender-fluid et intersexes.</p>
		</div>

		<div class="my-3">
			<p>
				<span class="lead">Découvrez ci-dessous la communauté exclusivement pour les personnes transgenres, Non-Binaires, Intersexes et Genre fluide.</span> <br />
				<small><i>(Pour les personnes Cisgenres, vous êtes également les bienvenu.e.s (sous conditions, voir le règlement du serveur))</i></small>
			</p>
		</div>

		<div class="row justify-content-between m-5">
			<div class="col">
				<a class="btn btn-lg btn-block btn-outline-light">Resources</a>
			</div>

			<div class="col">
				<a class="btn btn-lg btn-block btn-primary">Discord</a>
			</div>

			<div class="col">
				<a class="btn btn-lg btn-block btn-outline-secondary">Twitter</a>
			</div>
		</div>

		<div class="mx-5">
			<img class="img-fluid rounded" src="assets/index/body-1.webp" />
		</div>
	</div>

	
</div>

