@page "/resources"
@layout CoverLayout


<div class="row align-items-md-stretch">
	<div class="col-md-4">
		<div class="h-100 p-5 text-white border border-info rounded-3 order-1">
			<h3><i class="bi bi-info-circle-fill me-3"></i>Sites Utilitaires</h3>

			<p>
				Vous recherchez des ressources, médecins, renseignements, ou témoignages ? <br />
				C'est ici !
			</p>

			<button class="btn btn-lg btn-info disabled" type="button">Bientôt</button>
		</div>
	</div>

	<div class="col-md-4">
		<div class="h-100 p-5 text-light border border-danger rounded-3 order-md-3 order-0">
			<h3 class="text-danger"><i class="bi bi-exclamation-triangle-fill me-3"></i>Besoin d'aide ?</h3>

			<p>Ces numéros vous redirigent vers des services compétent, par chat, par téléphone ou par mail.</p>

			<div class="col d-grid gap-2">
				<NavLink class="btn btn-lg btn-danger" href="/resources/emergencies">Aides & Urgences</NavLink>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="h-100 p-5 border border-secondary rounded-3">
			<h3><i class="bi bi-bookmarks-fill me-3"></i>Lexique</h3>
			<p>Vous ne connaissez pas les définitions, les significations ou les mots en anglais, cette section est faite pour vous.</p>
			<div class="col d-grid gap-2">
				<NavLink class="btn btn-lg btn-secondary" href="/resources/glossary">Lexique</NavLink>
			</div>
		</div>
	</div>
</div>

<div class="text-left">
	<hr>
	<h5>En questionnement ?</h5>
	<p>Pas de panique:</p>
</div>

<div class="row align-items-md-stretch">
	<div class="contour">	
		<div class="tree">
			<ul>
			<li><a title="Identité ressentie par une personne indépendamment de son sexe">Identités de genre</a>
				<ul>
				<li><a title="Se reconnait dans le genre assigné à la naissance">Cisgenre</a>
					<ul>
					<li><a title="">Homme</a></li>
					<li><a title="">Femme</a></li>
					</ul>
				</li>
				<li> <a title="Ne se reconnait pas dans le genre assigné à la naissance">Transgenre</a>
					<ul>
					<li><a title="Female to Male: personne assignée Femme à la naissance qui s'identifie aujourd'hui en tant qu'Homme">FTM</a></li>
					<li> <a title="Spectre regroupant une infinité de genre">Non binaire</a>
						<ul>
						<li><a title="N'appartient à aucun genre">Agenre</a></li>
						<li><a title="Female to X: personne assignée Femme à la naissance qui s'identifie aujourd'hui d'un autre genre">FTX</a></li>			
						<li><a title="Male to X: personne assignée Homme à la naissance qui s'identifie aujourd'hui d'un autre genre">MTX</a></li>
						<li><a title="Dont le genre est variable">Genderfluid</a></li>
						<li><a title="Appartient à tous les genres">Pangenre</a></li>
						</ul>
					</li>
					<li><a title="Male to Female: personne assignée Homme à la naissance qui s'identifie aujourd'hui en tant que Femme">MTF</a></li>
					</ul>
				</li>
				</ul>
			</li>
			</ul>
		</div>
	</div>	
</div>
<br/>
<hr>

@code {
	[CascadingParameter] CoverLayout Layout { get; set; }


	protected override void OnParametersSet()
	{
		Layout.SetCover("Ressources", "Toutes les ressources du monde Transgenre, à votre portée.");
		base.OnParametersSet();
	}
}
