@inherits CommonSiteLayout


<header>
	<Navbar CurrentUri=@CurrentUri />
</header>

<div class="container-fluid" style="margin: 100px 0px 0px inherit; padding: 0px;">
	<main role="main">
		@Body
	</main>
</div>

<Footer />