<footer class="footer text-muted mt-5">
	<div class="container">

		<div class="row justify-content-between">
			<div class="col-auto mb-3">
				<strong>Transgenres Community</strong> <br />
				(<a target="_blank" href="https://github.com/Transcom-DT/Transcom.Web">GitHub</a>, <a target="_blank" href="https://discord.gg/kKWs63X">Discord</a>)
			</div>

			<div class="col-auto mb-3">
				Developed by <a href="https://github.com/SakuraIsayeki" target="_blank">Sakura Isayeki</a> <br />
				Powered by <a target="_blank" href="https://nodsoft.net/">Nodsoft Systems</a>
			</div>
		</div>

	</div>
</footer>