@page "/profile"
@page "/profile/{SnowflakeStr}"
@inject AuthenticationStateProvider _authenticationStateProvider

<AuthorizeView Resource="UserId" Policy="SelfOrAdmin">
	<Authorized>
		<h1>Profile</h1>
	</Authorized>
</AuthorizeView>



@code {

	[Parameter]
	public string? SnowflakeStr { get; set; }
	
	public ulong UserId { get; set; }

	public override async Task SetParametersAsync(ParameterView parameters)
	{
		await base.SetParametersAsync(parameters);
		AuthenticationState authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
		UserId = Convert.ToUInt64(SnowflakeStr ?? authState.User.FindFirstValue(ClaimTypes.NameIdentifier));
		
		
	}

}