<div class="accordion-item">
	<h2 class="accordion-header" id=@($"{Id}-header")>
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=#@($"{Id}-body") aria-expanded="true" aria-controls=@($"{Id}-body")>
			@if (Icon is not null)
			{
				<i class=@Icon>&emsp;</i>
			}

			@Name
		</button>
	</h2>

	<div id=@($"{Id}-body") class="accordion-collapse collapse" aria-labelledby=@($"{Id}-header") data-bs-parent=#@ParentId>
		<div class="accordion-body">
			@ChildContent
		</div>
	</div>
</div>



@code {
	[Parameter]
	public string Id { get; set; }

	[Parameter]
	public string ParentId { get; set; }

	[Parameter]
	public string Icon { get; set; }

	[Parameter]
	public string Name { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }

	[Parameter]
	public bool Show { get; set; } = false;
}