@using System.Collections
@using Transan.Web.Data.RoleDeck

<div id=@Category.Id>
	<div class="my-5">
		<h1 class="my-3">@Category.Name</h1>
		<p class="lead" style="white-space: pre-wrap;">@Category.Description</p>
		
		<AuthorizeView Roles=@UserRoles.Admin>
        	<div class="text-reset my-3">
	            <a class="btn btn-block btn-warning" href="/admin/roledeck/category/edit/@Category.Id">Edit Category</a>
	            <a class="btn btn-block btn-success" href="/admin/roledeck/role/add/@Category.Id">Add Role</a>
        	</div>
        </AuthorizeView>
	</div>

	<div class="row justify-content-center align-items-stretch my-5 g-4">
		@foreach (Role role in Category.Roles.OrderByDescending(r => r.Order))
		{
			<div class="col-lg-4 col-md-6 d-flex flex-column flex-grow-1">
				<RoleComponent Role=role CategoryId=@Category.Id OnRoleChange=OnRoleChange />
			</div>
		}
	</div>
	
	<span class="my-5"></span>
	
</div>

@code {
	[Parameter] public RoleCategory Category { get; set; }
	[Parameter] public EventCallback<RoleChangeDto> OnRoleChange { get; set; }
}