@page "/"
@layout CoverLayout
@inject IConfiguration Configuration



<div class="text-center">
	<div class="my-5">
		<div class="lead my-3">
			<h1>L'espace Safe pour les personnes Transgenres</h1>
			<p>
				Depuis sa création, le serveur accueille, aide, et soutient les personnes Transgenres, Non-Binaires, Genderfluid et Intersexes,
				à travers un espace sûr, fait par notre communauté, pour vous!
			</p>
		</div>

		<div class="my-3">
			<p>
				<span class="lead">Découvrez ci-dessous le safe-space, pour les personnes transgenres, Non-Binaires, Intersexes et Genderfluid.</span> <br />
				
				<small>
					<i>
						<span class="dotted-underline" data-bs-toggle="tooltip" title="Sous réserve d'invitation par un membre existant du serveur">
							Pour les personnes Cisgenres, et alliés LGBT, vous êtes également les bienvenu.e.s!
						</span>
					</i>
				</small>
			</p>
		</div>

		<div class="row justify-content-between m-5">
			<div class="col d-grid gap-2">
				<a class="btn btn-lg btn-block btn-outline-light" href="/resources/glossary">Lexique</a>
			</div>

			<div class="col d-grid gap-2">
				<a class="btn btn-lg btn-block btn-primary" href=@Configuration["ExtLinks:Discord"]>Discord</a>
			</div>

			<div class="col d-grid gap-2">
				<a class="btn btn-lg btn-block btn-outline-secondary" href=@Configuration["ExtLinks:Twitter"]>Twitter</a>
			</div>
		</div>

		<div class="mx-5 mt-5">
			<!--
			<img class="img-fluid rounded" src="assets/index/body-1.webp" />
			-->
		</div>
	</div>

	<div class="my-5">
		<h1>Un serveur protégé et sécurisé.</h1>
		<p class="lead">Le serveur est protégé par plusieurs systèmes :</p>

		<Accordion Flush Id="server-systems" Class="text-start my-3">
			<AccordionSection Id="socialguard" Name="NSYS SocialGuard" Icon="bi bi-shield-lock-fill">
				<p class="lead">
					SocialGuard est une base de données centralisée suivant le niveau de confiance/méfiance de différents utilisateurs Discord.
					<br />
					<a class="link-secondary" href="https://socialguard.net/" target="_blank">socialguard.net</a>
				</p>

				<p>
					Son but est de prévenir l'intrusion sur le serveur de toute personne potentiellement nocive
					qui aurait déjà tenté de nuire à la communauté LGBT.
				</p>

				<p>
					Dès l'arrivée d'une nouvelle personne sur le serveur, SocialGuard prélève systématiquement son identifiant Discord, 
					et vérifie son niveau de confiance. L'équipe de Modération reçoit le résultat de manière immédiate, 
					ce qui appuie la décision donnée sur une inscription.
				</p>

				<p>
					En cas d'utilisateur classé Dangereux et blacklisté, ce dernier est automatiquement banni du serveur sans préavis, 
					et un rapport est transmis à la Modération détaillant la raison du bannissement.
				</p>

				<p>
					<b>Exemple :</b><br />
					Si un utilisateur rejoint le serveur, et qu'il est déjà classé Dangereux, l'utilisateur sera automatiquement banni du serveur.
				</p>

				<p>
					<b>Autre exemple :</b><br />
					Si l'utilisateur n'est pas dans la liste, et qu'il essaye de détruire la communauté dès son arrivée,
					l'équipe de Modération peut l'entrer dans le système SocialGuard, et ce dernier sera banni du serveur
					ainsi que tous les autres serveurs disposant de SocialGuard.
				</p>
			</AccordionSection>

			<AccordionSection Id="signup-form" Name="Formulaire d'Inscription" Icon="bi bi-file-earmark-text">
				<p class="lead">
					Nous sommes le seul serveur LGBT à avoir un dispositif de Formulaire d'Inscription, intégré à notre site Web.
				</p>

				<p>
					Ce système empêche les Spams, Raids, et autres menaces similaires, 
					établis par des utilisateurs encore inconnus au SocialGuard.
					Il permet également de vérifier plus efficacement les nouveaux membres, en cas d'utilisateur suspect.
				</p>
			</AccordionSection>

			<AccordionSection Id="other" Name="Autres Systèmes" Icon="bi bi-patch-check">
				<p>Le serveur dispose également d'autres systèmes :</p>

				<ul>
					<li>Anti insultes & propos LGBT-phobes</li>
					<li>Anti Spam (Mentions / MAJs / Liens)</li>
				</ul>
			</AccordionSection>
		</Accordion>
	</div>

	<div class="alert alert-primary">
		<h5>Ce site est toujours en construction. Patience! ;)</h5>
	</div>
	
</div>



@code {
	[CascadingParameter] CoverLayout Layout { get; set; }

	protected override void OnParametersSet()
	{
		Layout.SetCover("Le Transanctuaire", "Votre Refuge Transgenre.", true, true, true);
		base.OnParametersSet();
	}
}