@inherits ComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IConfiguration Configuration

@using System.Security.Claims;

<AuthorizeView>
	<Authorized>
		<li class="navbar-text text-light">Bienvenue, @GetUsername().GetAwaiter().GetResult() !&emsp;</li>
		<li class="nav-item"><a class="nav-link text-light" href=@Configuration["ExtLinks:Discord"]>Discord</a></li>
		<li class="nav-item"><a class="nav-link text-light disabled text-muted" href="team">Espace Membres</a></li>
		<li class="nav-item"><NavLink class="nav-link text-white" href="logout">Se déconnecter</NavLink></li>
	</Authorized>

	<NotAuthorized>
		<li class="nav-item"><NavLink class="nav-link text-white" href=@($"login?redirectUri={CurrentUri}")>Se connecter</NavLink></li>
	</NotAuthorized>
</AuthorizeView>


@code {
	[Parameter] public string CurrentUri { get; set; }


	public async Task<string> GetUsername()
	{
		AuthenticationState auth = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		return auth.User.FindFirstValue(ClaimTypes.Name);
	}
}
